{% extends "base.html" %}

{% block content %}

  <div class="main-content">

      <a href="{{ request.url_for('show_form') }}">
        <h2>Add task</h2>
      </a>
      <hr>

      {% for task in tasks %}
      <div style="display:flex; margin-bottom:20px; margin-left:20px;">
        <div>

          <div class="col-2">
            {% if task.completed == False %}
              <a class="nav-link" href="{{ request.url_for('page_complete_task', task_id=task.id) }}">
                  <h2>{{ task.title }}</h2>
              </a>
            {% else %}
              <a class="nav-link" href="{{ request.url_for('page_complete_task', task_id=task.id) }}">
                  <del><h2>{{ task.title }}</h2></del>
              </a>
            {% endif %}
          </div>
            <h4>{{ task.description }} - {{ task.completed }}</h4>
          <a class="text-bg-danger" href="{{ request.url_for('page_delete_task', task_id=task.id) }}">
            [delete]
          </a>


          <a class="text-bg-danger" onclick="deleteTask({{ task.id }})" style="cursor: pointer;">--delete--</a>
            <script>
                function deleteTask(taskId) {
                    fetch(`/tasks/${taskId}`, {
                        method: 'DELETE',
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        // Перенаправление после успешного удаления
                        window.location.href = '/tasks';
                    });
                }
            </script>

        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
