{% extends "base.html" %}

{% block content %}

<h3>User id:{{ user.id }}</h3>
Username: {{ user.username }}
<br>Email: {{ user.email }}
<br>User profile: {{ user.profile }}
<br>User full_name: {{ user.profile.full_name }}
<br> workout_statistics: {{ user.workout_statistics }}

<h4>Total stat:</h4>
total_workouts: {{ user.workout_statistics.total_workouts }}
total_distance_km: {{ user.workout_statistics.total_distance_km }}
total_duration_sec: {{ user.workout_statistics.total_duration_sec }}

<h4>Подписки:</h4>
{{ user.following }}

<h4>Подписчики:</h4>
{{ user.followers }}

{% endblock %}

