{% extends "base.html" %}

{% block content %}
          <div>
    <h4>{{ user.email }}</h4>
              USER: {{ user }}
              current_user.following: {{ current_user.following }}
              {{ current_user.is_following(user) }}


 Кнопка "Подписаться/Отписаться"
    <button id="follow-button" class="btn btn-primary" data-user-id="{{ user.id }}">
        {% if current_user.is_following(user) %}
            Отписаться
        {% else %}
            Подписаться
        {% endif %}
    </button>

</div>

<script src="/static/js/follow_button.js"></script>

{% endblock %}

