{% extends "base.html" %}

{% block content %}
<div>
    <h4>{{ follow_user.username }}</h4>
    USER: {{ follow_user }}
    current_user.following: {{ current_user.following }}
    {{ current_user.is_following(follow_user) }}


    Кнопка "Подписаться/Отписаться"
    <button id="follow-button" class="btn btn-primary" data-user-id="{{ follow_user.id }}">
        {% if current_user.is_following(follow_user) %}
        Отписаться
        {% else %}
        Подписаться
        {% endif %}
    </button>

</div>

<script src="/static/js/follow_button.js"></script>

{% endblock %}

