{% extends "base.html" %}

{% block title %}Post Detail{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Пост пользователя {{ post.user.email }}</h5>
                <p class="card-text">{{ post.content }}</p>
                {% if user and user.id == post.user_id %}
                    <!-- Кнопка удаления -->
                    <button class="btn btn-danger delete-post" data-post-id="{{ post.id }}">Delete</button>
                {% endif %}
            </div>
        </div>

        <div class="mt-4">
            <h4>Комментарии:</h4>
            <ul class="list-group">
              {% for comment in post.comments %}
                <li class="list-group-item">
                    <strong>{{ post.user.email }}:</strong> {{ comment.content }}
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>


    <!-- Подключение внешнего файла скриптов -->
    <script src="/static/js/post/delete_post.js"></script>

{% endblock %}