{% extends "base.html" %}

{% block title %}Post Detail{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Edit Post</h1>
    <form id="editPostForm">
        <!-- Поле для редактирования содержимого поста -->
        <div class="mb-3">
            <label for="postContent" class="form-label">Post Content</label>
            <textarea class="form-control" id="postContent" rows="5" disabled>{{ post.content }}</textarea>
        </div>
        {% if user and user.id == post.user_id %}
        <!-- Кнопки Edit, Save, Cancel -->
        <div class="d-flex gap-2">
            <button type="button" class="btn btn-primary" id="editButton" data-post-id="{{ post.id }}">Edit</button>
            <button type="submit" class="btn btn-success" id="saveButton" disabled>Save</button>
            <button type="button" class="btn btn-secondary" id="cancelButton" disabled>Cancel</button>
            <!-- Кнопка удаления -->
            <button class="btn btn-danger delete-post" data-post-id="{{ post.id }}">Delete</button>
        </div>
        {% endif %}
    </form>
</div>

<!-- Форма для добавления нового комментария -->
<div class="mt-4">
    <h4>Оставьте комментарий:</h4>
    <form id="addCommentForm" data-post-id="{{ post.id }}">
        <div class="mb-3">
            <label for="newComment" class="form-label">Ваш комментарий</label>
            <textarea class="form-control" id="newComment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="addCommentButton">Отправить</button>
    </form>
</div>

<!-- Список комментариев -->
<div class="mt-4">
    <h4>Комментарии:</h4>
    <ul id="commentsList" class="list-group">
        {% for comment in post.comments %}
        <li class="list-group-item">
            <strong>{{ comment.user.email }}:</strong> {{ comment.content }}
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Подключение внешнего файла скриптов -->
<script src="/static/js/post/delete_post.js"></script>
<script src="/static/js/post/edit_post2.js"></script>
<script src="/static/js/post/add_comment.js"></script>

{% endblock %}